

hr{
    background-color: #DF9132;
    border-style: solid;
    border-radius: 10px;
    border: #DF9132;
    height: 11px;

}

body{
    background-color: rgb(234, 227, 198);
}
ul {   

    
    background-color: rgb(223, 145, 50);
    
    background-size: cover;
     border-radius: 30px; ;
      padding: 15px;
    border-style: solid;
    border-color: seashell;
    text-align: center;
    scroll-behavior: smooth;
    
    
  
}
li {
    display: inline;
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
     
}
div{
    background-color: rgb(125, 89, 34);
    width: 580px;
    height: 330px;
}
h1{
    color: rgb(198, 127, 55);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    
}
div iframe{
    margin-left: 10px;
    margin-top: 10px;
    
}
p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: small;
    color: rgb(232, 157, 81);
}
a{
    color: rgb(215, 173, 45);
    text-decoration: rgb(0, 0, 0);
     margin: auto;
       text-shadow: 12px;
    text-shadow: black;
    }
th,td,table{
    border: 3px solid #8a5b21;
    border-collapse: collapse;
    
    
}
th,td{
    padding: 5px;
    text-align: left;
    vertical-align: top;
    background-color: #DF9132;

}
img{
    border-radius: 60px;
    border: 5px solid #b97a2e;
    margin: 15px;
}
h2{font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: small;
    color: rgb(166, 103, 39);
    
}

li a:hover{
    color: rgb(180, 136, 18);
}
li a:active{
    color: rgb(147, 88, 10);
}
li{

    background-color: #9e641d;
    border-radius: 90px;
    background-size: cover;
     border-radius: 30px; ;
      padding: 1%;
    text-size-adjust: auto;
    border-color: rgb(216, 229, 240);
    border-style: solid;
    margin: 19px;
    
    
}
